version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: car
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data:
